@font-face {
    font-family: Alexander;
    src: url(../fonts/Alexander.otf);
}

/* Reset */

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #2d2c2c;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

/* some standart classes */

.default-section {
    margin-bottom: 45px;
}

.section-title {
    position: relative;
}

.section-title_title {
    margin: auto;
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #2d2c2c;
}

@media (max-width: 991px) {
    .container {
        width: 100% !important;
        max-width: 100%;
    }
}

/* Custom styles */

/* Header start */

.header {
    padding-top: 10px;
}

.logo img {
    width: 100%;
}

.contacts-and-menu {
    margin-left: auto;
}

.header_contacts {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 65px;
    margin-left: auto;
}

.header_contacts a:hover {
    cursor: pointer;
}

.header_contacts a+a {
    margin-left: 13px;
}

.header_contacts i {
    color: #ff6c84;
}

.header_nav {
    position: relative;
}

.header_nav-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
}

.header_nav-menu a {
    font-size: 18px;
    color: #2d2c2c;
}

.header_nav-menu a:hover {
    color: #ff6c84;
}

.header .phone-number {
    margin-right: 88px;
}

.header .phone-number span {
    margin-left: 4px;
}

.slicknav_menu {
    display: none;
    position: absolute;
    right: 15px;
    top: 40px;
    z-index: 2;
    background: #fff;
    color: #2d2c2c;
}

.slicknav_menu a {
    color: #2d2c2c;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
}

.slicknav_menu a:hover {
    color: #ff6c84;
    background-color: #fff;
}

.slicknav_btn {
    background-color: #fff;
}

.slicknav_menu .slicknav_no-text {
    background-color: #fff;
    width: 30px;
}

.slicknav_menu .slicknav_icon-bar {
    box-shadow: none;
    width: 100%;
    height: 3px;
    background-color: #ff6c84;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 4px;
}

@media (max-width: 1199px) {
    .header .container {
        width: 100% !important;
        max-width: 100%;
    }
    .header .row {
        margin: 0;
    }
    .header_nav img {
        display: none;
    }
    .header_nav {
        border-top: 2px solid #ff6c84;
        border-bottom: 2px solid #ff6c84;
    }
    .header_nav-menu {
        position: static;
        padding: 0 10px;
    }
    .header_nav-menu a {
        font-size: 16px;
    }
    .header_nav-menu li+li {
        margin-left: 30px;
    }
}

@media (max-width: 991px) {
    .contacts-and-menu {
        display: flex;
        align-items: center;
    }
    .header_nav {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .header .social-links {
        margin-right: 150px;
    }
}

@media (max-width: 767px) {
    .header .logo {
        display: none;
    }
    .header_contacts {
        margin-right: 0;
    }
    .header .phone-number {
        margin-right: 40px;
    }
}

/* Header end */

/* Inner start */

.inner {
    position: relative;
    height: 663px;
    background: url("../img/inner-bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.inner_content {
    width: 446px;
    height: 351px;
    margin-top: 200px;
    margin-bottom: 112px;
    background-color: rgba(256, 256, 256, .75);
    text-align: center;
    line-height: 1.2;
}

.inner_title h1 {
    font-family: Alexander;
    font-size: 140px;
    line-height: 100px;
    margin-top: 25px;
    margin-bottom: 0;
}

.inner_title span {
    margin-top: -10px;
    margin-right: 9px;
    margin-left: 181px;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 30px;
    color: #ff6c84;
}

.inner_slogan {
    margin-top: 20px;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 30px;
}

.inner .btn-order {
    width: 255px;
    height: 60px;
    background-color: #ff6c84;
    color: #fff;
    font-size: 30px;
}

@media (max-width: 767px) {
    .inner {
        height: 450px;
    }
    .inner_content {
        width: 400px;
        height: 300px;
        margin-top: 100px;
        margin-bottom: 0;
    }
    .inner_title h1 {
        font-size: 80px;
        line-height: 60px;
    }
    .inner_title span {
        font-size: 24px;
    }
}

/* Inner end */

/* About-us block start */

.about-us .section-title {
    margin-bottom: 50px;
}

.about-us_title {
    text-align: center;
    font-size: 18px;
    color: #ff6c84;
    font-weight: 500;
    padding: 7px 70px 20px;
    line-height: 24px;
}

.about-us_list {
    list-style: none;
    line-height: 19px;
    padding-left: 0;
}

.about-us_list li+li {
    margin-top: 15px;
}

@media (max-width: 991px) {
    .about-us_img {
        text-align: center;
    }
    .about-us_list li+li {
        margin-top: 7px;
    }
}

/* About-us block end */

/* Advantage start */

.advantage .section-title {
    margin-bottom: 70px;
}

.advantage-block {
    margin-bottom: 30px;
}

.advantage-block_title {
    margin-top: 29px;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 24px;
}

.advantage-block_text p {
    font-weight: 500;
}

/* Advantage end */

/* Production start */

.production .section-title {
    margin-bottom: 50px;
}

.production .img-wrapper {
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    background-color: #ff6c84;
    opacity: 0.85;
    color: #fff;
    text-transform: uppercase;
}

.production .img-wrapper_title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 50px;
}

.production .img-wrapper_list {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    line-height: 36px;
}

.production-photo img {
    width: 100%;
}

@media (max-width: 991px) {
    .production .img-wrapper_title {
        font-size: 24px;
        margin-bottom: 15px;
        margin-top: 40px;
    }
    .production .img-wrapper_list {
        font-size: 16px;
        line-height: 30px;
    }
}

/* Production end */

/* Wishes start*/

.wishes {
    background-color: #ff6c84;
    padding-top: 60px;
    padding-bottom: 60px;
}

.wishes_text-container {
    color: #000;
}

.wishes_title {
    font-size: 20px;
    text-transform: uppercase;
}

.wishes_text {
    font-size: 16px;
}

.wishes_btn {
    width: 190px;
    height: 55px;
    border-radius: 0;
    outline: none;
    font-size: 18px;
    background-color: #fff;
}

.wishes_btn:hover {
    background-color: #fff;
    opacity: 0.85;
}

/* Wishes end */

/* Footer start */

.footer {
    background: url("../img/footer-bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 383px;
    padding-top: 50px;
}

.footer .container-fluid {
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.footer-logo {
    margin-bottom: 50px;
}

.footer-nav_element {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.footer-nav_element+.footer-nav_element {
    margin-left: 30px;
}

.footer-nav_element:hover {
    color: #ff6c84;
}

.footer-contacts {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-contacts_element+.footer-contacts_element {
    margin-left: 100px;
}

.footer-contacts_element span {
    margin-left: 9px;
}

.footer-copyright {
    color: #fff;
    font-size: 14px;
}

.footer-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0a0a0a;
    opacity: 0.7;
    z-index: 1;
}

@media (max-width: 991px) {
    .footer-nav {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer-nav_element+.footer-nav_element {
        margin-left: 20px;
    }
}

@media (max-width: 575px) {
    .footer-nav_element {
        font-size: 16px;
    }
}